<form action='/search' method='post'>
  <input type='text' name='genre' placeholder='genre' autofocus>
  <input type='number' step='any' name='danceability' placeholder='number (0<1)'>
  <input type='number' name='min_bpm' placeholder='minimum beats per minute'>
  <input type='text' name='results_number' placeholder='number of desired results'>
  <button>Get Info</button>
</form>

