<form action='/search' method='post'>
  <input type='text' name='genre' placeholder='"genre/style/type" of music' autofocus>
  <input type='number' step='any' name='danceability' placeholder='"danceability factor" (number 0<1)'>
  <input type='number' step='any' name='min_bpm' placeholder='minimum "beats per minute"'>
  <input type='text' name='results_number' placeholder='number of "desired results"'>
  <button>Get Songs</button>
</form>

<!-- Three-up Content Blocks -->

  <div class="row">
    <div class="four columns">
      <h4>Beats per minute</h4>
      <img src="http://www.dodownload.com/image/total-audio-recorder-and-editor.png" />
      <p><h6>Determine the 'speed' you want the music to be. Fast for more energy or slow for more intimate.</h6></p>
    </div>
    <div class="four columns">
      <h4>Genre/Style</h4>
      <img src="http://images4.wikia.nocookie.net/__cb20110427005940/lyricwiki/images/6/67/Adestria.jpg" />
      <p><h6>Choose the genre or style of music you desire, for example: punk, rock, funk, folk, classical, blues etc.</h6></p>
    </div>
    <div class="four columns">
      <h4>Danceability Factor</h4>
      <img src="http://designspiration.net/data/l/3225227865129_FnnNSami_l.jpg" />
      <p><h6>For cool cats only baby! It's the secret sauce that gets all y'all off your ass and onto the floor, ya dig? </h6></p>
    </div>
  </div>