<ul>
  <section>
    <% @songs.each do |song| %>
    <h2><li>"<%= song['title'] %>" by <%= song['artist_name'] %></li></h2>
    <% end %>
    <a href="/search" class="button success radius">search again</a>
    <a href="/" class="button Alert radius">logout</a>
  </section>
</ul>
