<form action='/search' method='post'>
  <input type='text' name='genre' placeholder='genre' autofocus>
  <input type='text' name='tempo' placeholder='tempo' autofocus>
  <input type='text' name='min_bpm' placeholder='minimum beats per minute' autofocus>
  <input type='text' name='results_number' placeholder='number of desired results' autofocus>
  <button>Get Info</button>
</form>

