<div>
<span><h1>welcome to uneekify</h1>
  <h2>unique & tailored song recommendations</h2></span>


  <a href="/users/new" button class="btn btn-large btn-primary" type="button">register</button></a>
  <a href="/login" button class="btn btn-large" type="button">sign In</button></a>
</div>


