<span><h1>Welcome to uneekify!</h1>
  <h2>Unique song recommendations for all occasions...</h2></span>

<% if flash[:notice].present? %>
    <div class="row">
    <div class="columns small-5 alert-box alert">
      <%= flash[:notice] %>
    </div>
    <div class="columns small-7"></div>
  </div>
<% end %>

  <nav>
     <ul>
        <%== intellinav  %>
     </ul>
   </nav>
